<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <script src="Formatacao/function.js"></script>    
    <link href="Formatacao/style.css" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
     
    <title>Robson Duarte Portfólio</title>
</head>
<body>
    <nav>        
        <li><a href="#/" onclick="newTab('{{my_linkedin}}')">Linkedin {{link}}</a></li>
        <li><a href="#/" onclick="newTab('{{my_github}}')">Github {{git}}</a></li>         
    </nav> 

    <header>       
        <section>
            <article>
                <div class='apresentation'>
                    <figure>
                        <img src="img/t.jpg" alt="">
                    </figure>
                    <div>
                        <p class="apresentacao"><b>Nome:</b> Robson Duarte dos Santos</p>
                        <p class="apresentacao"> <b>Local:</b> Jardim Botânico , Rio de Janeiro - Brasil</p>
                    </div>
                </div>
                <div>
                    <p class="sobre">Sobre</p>
                    <p>
                        Sou estudante de Ciencia da Computação na Universidade 
                        Federal do Rio de Janeiro - UFRJ. Apaixonado por  traduzir
                        um problema real em algo que computador entenda.
                        Me trazendo imensa satisfação se na resolução do problema eu consiga ajudar alguém.
                    </p>
                </div>
                <div class="container">
                    <h2>Conhecimentos</h2>
                    <div class="skills">                    
                            <div class="logos">                       
                                {{js}}                           
                                <p>Javascript</p>                         
                            </div>
                            <div class="logos">
                                {{html}}                                               
                                <p>HTML</p>                            
                            </div>
                            <div class="logos">
                               {{css}}                          
                               <p>CSS</p>                            
                            </div>

                        <div class="logos">
                            {{php}}
                            <p>PHP</p>                            
                        </div>
                        <div class=" logos">
                            {{sql}}                       
                            <p>SQL</p>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </header>    
    <main>
        <section >
            <article class='content-right show-on-scroll-right'>                 
                <iframe src="{{web_ivana}}" frameborder="0" title="portfolio" scrolling="no"></iframe>
                <a href="#/" class="iframe_overlay" onclick="newTab('{{web_ivana}}')"></a>

                <a href="#/" onclick="newTab('{{git_web_ivana}}')" class="C_font">
                    <p>Codigo fonte</p>
                </a>
            </article>
           <!--  <article class="content-left show-on-scroll-left">
                <p>Codigo fonte</p>
            </article> -->                        
        </section>       
    </main> 
    <footer></footer>           
</body>
</html>